@model IEnumerable<Mercury.sp_GetSchools_Result>

@{
    ViewBag.Title = "Schools.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schools.</h2>

<p>
    @*@Html.ActionLink("Create New School", "Create")*@
    <a href="" onclick="create_warning();">Create New School</a>
</p>
@using GridMvc.Html

@Html.Grid(Model).Columns(columns =>
{
columns.Add(s => s.SchoolId, true);
columns.Add(s => s.SchoolName).Titled("School Name").Filterable(true).SetWidth(250).Sortable(true);
columns.Add(s => s.DistrictName, true).Titled("District Name").Filterable(true).SetWidth(350).Sortable(true);
columns.Add(s => s.PointOfContact).Titled("Point<br />Of<br />Contact").Sortable(true).Filterable(true).SetWidth(20);
columns.Add(s => s.Email).Titled("Email").Sortable(true).Filterable(true).SetWidth(20);
columns.Add(s => s.PhoneNumber).Titled("Phone").Sortable(true).Filterable(true);
columns.Add(s => s.Ext).Titled("Ext").Sortable(true).Filterable(true);
columns.Add(s => s.Address1).Titled("Address 1").Filterable(true).SetWidth(200).Sortable(true);
columns.Add(s => s.Address2).Titled("Address 2").Filterable(true).SetWidth(200).Sortable(true);
columns.Add(s => s.City).Titled("City").Filterable(true).SetWidth(200).Sortable(true);
columns.Add(s => s.State).Titled("State").Filterable(true).SetWidth(200).Sortable(true);
columns.Add(s => s.PostalCode).Titled("Zip").Filterable(true).SetWidth(200).Sortable(true);
columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @<button type="submit" style="" onclick="modify_warning();"><span class="glyphicon glyphicon-pencil"></span></button>).SetWidth(20);
columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @<button type="submit" onclick="delete_warning();"><span class="glyphicon glyphicon-trash"></span></button>).SetWidth(20);
}).WithPaging(15).Filterable(true)