<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="dialog-glance" title="Student At-a-Glance" class="ui-helper-hidden">
        <p class="validateTips">All form fields are required.</p>

        <form>
            <fieldset>
                <table>
                    <tr><th colspan='4'>Student Dashboard Information</th></tr>
                    <tr>
                        <td>School:</td>
                        <td id="glance-school"></td>
                        <td>Suspensions:</td>
                        <td id="glance-suspensions"></td>
                    </tr>
                    <tr>
                        <td>Student Name:</td>
                        <td id="glance-studentname"></td>
                        <td>RTTP Enrollment Date:</td>
                        <td id="glance-rttpdnrollmentdate"></td>
                    </tr>
                    <tr>
                        <td>Grade:</td>
                        <td id="glance-grade"></td>
                        <td>First Attendance Date:</td>
                        <td id="glance-firstattendancedate"></td>
                    </tr>
                    <tr>
                        <td>SIS Number:</td>
                        <td id="glance-sisnumber"></td>
                        <td>Birthdate:</td>
                        <td id="glance-birthdate"></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Total Excused Absenses:</td>
                        <td id="glance-totalexcusedabsenses"></td>
                    </tr>
                    <tr>
                        <td>Total UnExcused Absenses:</td>
                        <td id="glance-totalunExcusedabsenses"></td>
                    </tr>
                    <tr>
                        <td>Total Absenses(YTD):</td>
                        <td id="glance-totalabsenses"></td>
                    </tr>
                </table>

            </fieldset>
        </form>
    </div>
</body>
</html>
